@keyframes cardCorrect {
  from {
    background-color: transparent;
    background-position: 0%;
    background-image: linear-gradient(
      170deg,
      transparent 0%,
      transparent 50%,
      $color-primary-light 50%,
      $color-primary-dark 100%
    );
    background-size: 700%;
  }
  5% {
    background-color: transparent;
    background-position: 0%;
    background-image: linear-gradient(
      170deg,
      transparent 0%,
      transparent 50%,
      $color-primary-light 50%,
      $color-primary-dark 100%
    );
    background-size: 700%;
  }
  50% {
    background-color: transparent;
    background-position: 100%;
    background-image: linear-gradient(
      170deg,
      transparent 0%,
      transparent 50%,
      $color-primary-light 50%,
      $color-primary-dark 100%
    );
    background-size: 700%;
    color: $color-white;
  }
  to {
    background-position: 0%;
    background-image: linear-gradient(
      170deg,
      transparent 0%,
      transparent 50%,
      $color-primary-light 50%,
      $color-primary-dark 100%
    );
    background-size: 700%;
  }
}
@keyframes cardFail {
  from {
    background-color: transparent;
    background-position: 0%;
    background-image: linear-gradient(
      170deg,
      transparent 0%,
      transparent 50%,
      $color-quinary-dark 50%,
      $color-quinary-darker 100%
    );
    background-size: 700%;
  }
  50% {
    background-color: transparent;
    background-position: 100%;
    background-image: linear-gradient(
      170deg,
      transparent 0%,
      transparent 50%,
      $color-quinary-dark 50%,
      $color-quinary-darker 100%
    );
    background-size: 700%;
    color: $color-white;
  }
  to {
    background-position: 0%;
    background-image: linear-gradient(
      170deg,
      transparent 0%,
      transparent 50%,
      $color-quinary-dark 50%,
      $color-quinary-darker 100%
    );
    background-size: 700%;
  }
}
