.card {
  // Functunality
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  text-align: center;
  height: 60rem;

  &__side {
    height: 60rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: $default-border-radius-card;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
    overflow: hidden;
    transition: all 0.5s;
    opacity: 1;

    &--front {
      background-color: $color-white;
    }

    &--back {
      padding: 5rem;
      transform: rotateY(180deg);
      background-image: linear-gradient(
        to right bottom,
        $color-primary-light,
        $color-primary-dark
      );
    }
  }
  &__front--symbol {
    margin-bottom: $margin-medium;
  }
  &__front--symbol,
  &__back--flex {
    font-size: 20rem;
    line-height: 1;
    text-transform: uppercase;
  }
  @include respond( phone ) {
    &__back--flex {
      font-size: 15rem;
    }
  }
  &__DOWN {
    & .card__side--front {
      animation-name: cardCorrect;
      animation-duration: 0.8s;
      transition-delay: 0.7s;
      transform: rotateY(-180deg);
      position: relative;
    }
    & .card__side--back {
      transition-delay: 0.7s;
      transform: rotateY(0deg);
    }
  }
  &__UP {
    & .card__side--back .card__back--inner {
      opacity: 0;
    }
  }
  &__btn-box {
    padding: 0 5rem;
  }
  &__score {
    background-color: $color-gray-dark-3;
    color: $color-white;
    @include clearfix;
    padding: 1rem 2rem;
    text-align: left;
    margin-bottom: $margin-medium;
    font-size: 1.37rem;
    &-current {
      float: left;
      width: 50%;
    }
  }
  &__back {
    &--inner {
      border-radius: $default-border-radius-card;
      border: 2rem solid $color-white;
      height: 100%;
      background-image: url(images/escheresque-dark.png);
      color: $color-white;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    &--flex {
      align-self: center;
      text-shadow: 1px 1px 7px rgba($color-black, 0.9);
    }
  }
  &__wrong {
    & .card__side--front {
      animation-name: cardFail;
      animation-duration: 0.8s;
    }
  }
}
